html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color:#3e402e;
    margin: 0;
    padding: 0;
}


h3 {
    font-size: 1em;
}

span {
    font-size: 1em;
    margin-top: -0.8em ;
}

.project-name {
    margin-top: 1em;

}