#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.form-container input {
    margin: 0;
    width: 50em;
    height: 2%;
    font-size: 1rem;
    font-family: "saria", serif;
}

.form-container textarea {
    margin: 0;
    width: 50em;
    height: 2%;
    font-size: 1rem;
    font-family: "saria", serif;
}

.button button {
    margin-top: 2rem;
    margin-bottom: 1.2em;
    width: 10em;
    height: 30px;
    border-radius: 8px;
    font-family: "saria", serif;
    font-size: 1rem;
}


